name: Scrape Train Delays

on:
  schedule:
    - cron: '00 22 * * *'
  workflow_dispatch:

jobs:
  scrape:
    runs-on: self-hosted
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
            clean: false

      - name: Install dependencies
        run: |
          python3 -m venv .venv
          source .venv/bin/activate         
          pip install -r requirements.txt        
          playwright install chromium

      - name: Run scraper
        run: |
          source .venv/bin/activate
          python3 get_train_data.py
